<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODONE #3 - Use the same list display from search.html -->
    <h2>Results List</h2>
    <ul>
        <table class="job-listing" th:each="item : ${jobs}">
            <tr th:each="line : ${item}">
                <td th:text="${line.key}"></td>
                <td th:text="${line.value}"></td>

            </tr>
            <br/>
        </table>
    </ul>

</div>

</body>
</html>